
.app-container {
  display: grid;
  grid-template-columns: 260px 1fr; /* Sidebar | Main */
  grid-template-rows: 1fr 90px;     /* Content | Player */
  width: 100%;
  height: 100vh;
  background-color: var(--bg-dark);
}